php:
	date.timezone: Europe/Prague

extensions:
	- GrandMedia\Security\DI\SecurityExtension
	- GrandMedia\SecurityDoctrine\DI\SecurityDoctrineExtension
	- Kdyby\Annotations\DI\AnnotationsExtension
	- Kdyby\Console\DI\ConsoleExtension
	- Contributte\EventDispatcher\DI\EventDispatcherExtension
	- Contributte\Events\Bridges\Application\DI\EventApplicationBridgeExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
	driver: pdo_sqlite
	memory: true
